/* =========================
  リセット
========================= */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px; /* rem 単位の基準値 */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #000000;
}
